@model  VehicleViewModel

@{
    // this view is used for add, edit, and delete. The routeData action values determines which
    var action = ViewContext.RouteData.Values["action"].ToString().Capitalize();

    ViewData["Title"] = $" | {action} Vehicle";
}

<h1>@action Vehicle</h1>

<form asp-action="@action" asp-area="Admin" method="post">

    <input type="hidden" asp-for="Vehicle.VehicleId" />

	<div class="form-group row">
		<div class="col-sm-2"><label>Title:</label></div>

		@* If deleting, display title in a label*@
		@if (Operation.IsDelete(action))
		{
			<div class="col-sm-4"><label>@Model.Vehicle.Title</label></div>
			<input type="hidden" asp-for="Vehicle.Title" />
		}
		else
		{
			@* Provide a text box *@
			<div class="col-sm-4">
				<input type="text" asp-for="Vehicle.Title" class="form-control" />
			</div>
			<div class="col-sm-6">
				<span asp-validation-for="Vehicle.Title" class="text-danger"></span>
			</div>
		}
	</div>

    @* Display text boxes and drop-downs *@
    @if (!Operation.IsDelete(action))
    {
        <div class="form-group row">
            <div class="col-sm-2"><label>Price per hour:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="Vehicle.Price" class="form-control" />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="Vehicle.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"><label>Vehicle Type:</label></div>
            <div class="col-sm-4">
                <select asp-for="Vehicle.VehicleTypeId" class="form-control"
                    asp-items='@new SelectList(Model.VehicleTypes, "VehicleTypeId", "Name", Model.Vehicle.VehicleTypeId)'>
                </select>
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="Vehicle.VehicleTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Employee(s):</label><br />
            </div>
            <div class="col-sm-4">
                <select asp-for="SelectedEmployees" class="form-control"
                    asp-items='@new MultiSelectList(Model.Employees, "EmployeeId", "FullName", Model.SelectedEmployees)'>
                </select>
                (Hold down CTRL select multiple)
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="SelectedEmployees" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit" class="btn btn-primary">@action</button>

            @* Return to the main admin page after adding, or to the search page *@
            <a asp-action="@(Operation.IsAdd(action) ? "Index" : "Search")"
               class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>